@model Day3Homework.Data.Order
@{
    ViewBag.Title = "Update Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="Update" asp-controller="Orders" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="OrderName" class="control-label">Order Name</label>
        <input type="text" asp-for="OrderName" class="form-control" />
        <span asp-validation-for="OrderName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TotalPrice" class="control-label">Total Price</label>
        <input type="text" asp-for="TotalPrice" class="form-control" />
        <span asp-validation-for="TotalPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-default" />
    </div>
</form>