@model Day3Homework.Data.OrderItem
@{
    ViewBag.Title = "Update OrderItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="Update" asp-controller="OrderItems" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OrderId" class="control-label">OrderId</label>
        <input type="text" asp-for="OrderId" class="form-control" />
        <span asp-validation-for="OrderId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-default" />
    </div>
</form>